<nav>
  <a [matMenuTriggerFor]="hamburger_menu" class="hamburger link" mat-button>
    <em class="fas fa-bars"></em>
  </a>

  <div class="left-nav-wrapper">
    <img class="logo-img" routerLink="/main" src="./assets/img/logo.png" alt="site logo">

    <ul class="nav-list">
      <li>
        <a class="link" mat-button [matMenuTriggerFor]="components_menu">Ingredients</a>
      </li>
      <li>
        <a class="link" mat-button [matMenuTriggerFor]="recipes_menu">Recipes</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a (click)="openRecipeCreatePopup()" class="link">Create new</a>
      </li>
    </ul>
  </div>

  <ul class="nav-icon-list">
    <li *ngIf="authService.isAuthenticated()"><a class="link" mat-button [matMenuTriggerFor]="user_menu"><em class="fas fa-globe"></em></a></li>
    <input class="search-input" #searchInput (keyup.enter)="searchForRecipes(searchInput.value)"
           type="search" placeholder="Search" aria-label="Search">
    <li><a class="link"><em class="fas fa-search"></em></a></li>
  </ul>
</nav>

<!------MAT MENU COMPONENTS----->

<mat-menu #recipes_menu="matMenu">
  <button mat-menu-item routerLink="/recipes">All</button>
  <ng-container *ngFor="let recipeCat of recipeCategories">
    <button mat-menu-item routerLink="/recipes/byCategory/{{recipeCat.name}}">{{recipeCat.name}}</button>
  </ng-container>
</mat-menu>

<mat-menu #components_menu="matMenu">
  <ng-container *ngFor="let componentCat of componentCategories">
    <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{componentCat.name}}</button>
    <mat-menu #sub_menu="matMenu">
      <ng-container *ngFor="let component of componentCat.components">
        <button mat-menu-item routerLink="/recipes/byComponent/{{component.name}}">{{component.name}}</button>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>

<mat-menu #user_menu="matMenu">
  <button mat-menu-item routerLink="/user">My Profile</button>
  <button mat-menu-item routerLink="/user-edit">Edit Profile</button>
  <button *ngIf="authService.isAdmin()" mat-menu-item routerLink="/components-menage">Components Menager</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

<mat-menu #hamburger_menu="matMenu">
  <button [matMenuTriggerFor]="user_menu" class="link" mat-menu-item>User Panel</button>
  <button [matMenuTriggerFor]="recipes_menu" class="link" mat-menu-item>Recipes</button>
  <button [matMenuTriggerFor]="components_menu" class="link" mat-menu-item>Ingredients</button>
  <button (click)="openRecipeCreatePopup()" class="link" mat-menu-item>Create new</button>
</mat-menu>
