<main>

  <section class="time-section">

    <div class="title-container">
      <span class="clock-icon iconify" data-icon="bi:clock" data-inline="false"></span>
      <h1>
        Is your time <span class="red">limited</span>?<br>
        <span class="green">Find</span> something for you!
      </h1>
    </div>

    <div class="time-buttons">
      <button class="btn">
        <span class="btn-icon iconify" data-icon="ion:rocket-outline" data-inline="false"></span>
        < 20 min.
      </button>
      <button class="btn">
        <span class="btn-icon iconify" data-icon="fluent:animal-rabbit-24-regular" data-inline="false"></span>
        < 60 min.
      </button>
      <button class="btn">
        <span class="btn-icon iconify" data-icon="fluent:animal-turtle-24-regular" data-inline="false"></span>
        < 120 min.
      </button>
    </div>

  </section>

  <section class="recipes-section">

      <h2 class="recipes-title">Popular recipes:</h2>

      <div class="recipes">
          <div class="recipe">
            <img class="recipe-img" src="assets/img/recipes/salad.jpg" alt="recipe">
              <p class="recipe-title">Homemade salad</p>
          </div>

          <div class="recipe">
            <img class="recipe-img" src="../../../assets/img/recipes/spaghetti.jpg" alt="recipe">
            <p class="recipe-title">spaghetti with cauliflower</p>
          </div>

          <div class="recipe">
            <img class="recipe-img" src="assets/img/recipes/goulash.jpg" alt="recipe">
            <p class="recipe-title">beef goulash</p>
          </div>
      </div>

  </section>

  <section>

  </section>
</main>
