<main>

  <section class="time-section">

    <div class="title-container">
      <span class="clock-icon iconify" data-icon="bi:clock" data-inline="false"></span>
      <h1>
        Is your time <span class="red">limited</span>?<br>
        <span class="green">Find</span> something for you!
      </h1>
    </div>

    <div class="time-buttons">
      <button class="btn">
        <span class="btn-icon iconify" data-icon="ion:rocket-outline" data-inline="false"></span>
        < 20 min.
      </button>
      <button class="btn">
        <span class="btn-icon iconify" data-icon="fluent:animal-rabbit-24-regular" data-inline="false"></span>
        < 60 min.
      </button>
      <button class="btn">
        <span class="btn-icon iconify" data-icon="fluent:animal-turtle-24-regular" data-inline="false"></span>
        < 120 min.
      </button>
    </div>

  </section>

  <section class="recipes-container">

  </section>

  <section>

  </section>
</main>
