<main>

  <section class="header-section">
    <div class="header-img">
      <div class="header-text">
        <h1>Pasta</h1>
      </div>
    </div>
  </section>

  <section class="recipes-section">
    <div class="pagination"><h1>[PAGINATION]</h1></div>
    <div class="recipes">
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
      <app-recipe-block class="recipe"></app-recipe-block>
    </div>
  </section>

</main>
