<main>

  <section class="header-section">
    <div class="header-img">
      <div class="header-text">
        <h1>{{key}}</h1>
      </div>
    </div>
  </section>

  <section class="recipes-section">
    <div class="recipes">
        <app-recipe-block
          class="recipe"
          [recipe]="recipe"
          *ngFor="let recipe of recipes"
          routerLink="/recipe/{{recipe.id}}">
      </app-recipe-block>
    </div>
    <mat-paginator [length]="this.totalElements"
                  [pageSize]="this.pageSize"
                  [pageSizeOptions]="[6, 9, 12]"
                  (page)="OnPageChange($event)">
    </mat-paginator>
  </section>

</main>
