main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  margin: 0 !important;
  color: red;
  font-size: .9em;
}

.green-btn {
  margin-top: 3em;
}

@media only screen and (max-width: 500px) {
  main {
    font-size: .9em;
  }

  h3 {
    text-align: center;
  }
}
