<main>
    <em [mat-dialog-close] class="dialog-close-btn fas fa-times"></em>
    <h2>Register</h2>
    <p *ngIf="errorResponse" class="error-msg error-msg-top">Account already exists.</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="inputs">

      <div class="input-container">
        <p class="input-header">Email</p>
        <input class="text-input" formControlName="email" type="text">
        <small *ngIf="email.touched && (email.errors?.required || email.errors?.email)" class="error-msg">Wrong
          email</small>
      </div>

      <div class="input-container">
        <p class="input-header">Username</p>
        <input class="text-input" formControlName="username" type="password">
        <small *ngIf="username.touched && (username.errors?.required || username.errors?.minlength)"
               class="error-msg">Username is to short.</small>
        <small *ngIf="username.touched && username.errors?.maxLength" class="error-msg">Username is to short.</small>
      </div>

      <div class="input-container">
        <p class="input-header">Password</p>
        <input class="text-input" formControlName="password" type="password">
        <small *ngIf="password.touched && (password.errors?.required || password.errors?.minlength)"
               class="error-msg">Password is too short.</small>
      </div>

      <div class="input-container">
        <p class="input-header">Confirm password</p>
        <input class="text-input" formControlName="confirmPassword" type="password">
        <small
          *ngIf="confirmPassword.touched && (confirmPassword.errors?.required || confirmPassword.errors?.minlength)"
          class="error-msg">Password is too short.</small>
      </div>
    </div>

        <div class="buttons">
            <button class="btn-black-fill" type="submit">Register</button>
        </div>
    </form>
</main>
