<main>
    <em [mat-dialog-close] class="dialog-close-btn fas fa-times"></em>
    <h2>Login</h2>
    <p *ngIf="errorResponse" class="error-msg error-msg-top">Invalid credentials.</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <div class="input-container">
        <p class="input-header">Email</p>
        <input class="text-input" formControlName="email" type="text">
        <small *ngIf="email.touched && (email.errors?.email || email.errors?.required)" class="error-msg">Wrong
          email</small>
      </div>

      <div class="input-container">
        <p class="input-header">Password</p>
        <input class="text-input" formControlName="password" type="password">
        <small *ngIf="password.touched && (password.errors?.minlength || password.errors?.required)"
               class="error-msg">Password is too short.</small>
      </div>
    </div>

    <div class="buttons">
            <button class="btn-green" type="submit">Login</button>
            <button class="btn-black-fill" [mat-dialog-close] (click)="openRegisterDialog()">Register</button>
        </div>
    </form>
</main>
