<main>

  <section class="user-section">
    <img class="user-img" src="" alt="user avatar">
    <h2 class="username">Włodek Markowicz</h2>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.</p>
    <div class="badges">

      <div class="badge">
        <em class="far fa-star"></em>
        <div class="badge-text">
          <p class="badge-header">Average Ratings</p>
          <p class="badge-value">4.21</p>
        </div>
      </div>

      <div class="badge">
        <em class="far fa-file"></em>
        <div class="badge-text">
          <p class="badge-header">Total Recipes</p>
          <p class="badge-value">8</p>
        </div>
      </div>

      <div class="badge">
        <em class="far fa-calendar-alt"></em>
        <div class="badge-text">
          <p class="badge-header">Joined Date</p>
          <p class="badge-value">28.02.2021</p>
        </div>
      </div>
    </div>
  </section>

  <section class="recipes-section">
    <h2>User Recipes</h2>

    <div class="recipes">
      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/salad.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Mushroom and tomato pasta with spinach</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 4.48/5.00</span>
          </p>
        </div>
      </div>

      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/spaghetti.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Pasta</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 3.56/5.00</span>
          </p>
        </div>
      </div>

      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/salad.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Mushroom and tomato pasta with spinach</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 4.48/5.00</span>
          </p>
        </div>
      </div>

      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/spaghetti.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Pasta</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 3.56/5.00</span>
          </p>
        </div>
      </div>

      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/salad.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Mushroom and tomato pasta with spinach</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 4.48/5.00</span>
          </p>
        </div>
      </div>

      <div class="recipe">
        <img class="recipe-img" src="./assets/img/recipes/spaghetti.jpg" alt="img of recipe">

        <div class="recipe-description">
          <p class="recipe-title">Pasta</p>
          <p class="rate">
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star"></em>
            <em class="fas fa-star-half-alt"></em>
            <span> 3.56/5.00</span>
          </p>
        </div>
      </div>
    </div>

    <h1> [ PAGINATION ]</h1>
  </section>

</main>
