main {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 4em;
  width: 70%;
}

/* ======== USER SECTION ==========*/

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-width: 300px;
  height: 650px;
  background: #FFFFFF;
  box-shadow: 10px 10px 50px #00000029;
  border-radius: 5px;
}

.user-img {
  margin-top: 2em;
  width: 40%;
  border-radius: 100%;
}

.description {
  width: 80%;
  font-size: 1em;
  color: #707070;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.badge {
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: 80%;
  background: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1;
}

.badge .far {
  width: 1em;
  margin-left: .5em;
  font-size: 1.6em;
  color: #419A1C;
}

.badge-text {
  margin-left: 1.5em;
  font-size: .9em;
}

.badge-header {
  font-weight: 700;
  margin-bottom: 0;
}

.badge-value {
  margin-top: .1em;
  font-size: .9em;
}


/* ======== RECIPES SECTION ==========*/

.recipes-section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  width: 60%;
  max-width: 800px;
}

.recipes-header {
  margin: 0;
}

.recipe {
  width: 210px;
}

.recipe-img {
  height: 126px;
}

.recipe-description {
  height: 90px;
}
