<main>

  <section class="user-section">
    <img class="user-img" src="{{user.img}}" onerror="this.src='/assets/img/on-error.jpg'" alt="user avatar">
    <h2 class="username">{{user.firstName}} {{user.lastName}}</h2>
    <p class="description">{{user.bio}}</p>
    <div class="badges">

      <div class="badge">
        <em class="far fa-star"></em>
        <div class="badge-text">
          <p class="badge-header">Average Ratings</p>
          <p class="badge-value">{{user.avgRate | number: '1.2'}}</p>
        </div>
      </div>

      <div class="badge">
        <em class="far fa-file"></em>
        <div class="badge-text">
          <p class="badge-header">Total Recipes</p>
          <p class="badge-value">{{totalElements}}</p>
        </div>
      </div>

      <div class="badge">
        <em class="far fa-calendar-alt"></em>
        <div class="badge-text">
          <p class="badge-header">Joined Date</p>
          <p class="badge-value">{{user.dateCreated | date}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="recipes-section">
    <h2 class="recipes-header">User Recipes</h2>

    <div class="recipes">
      <app-recipe-block 
        class="recipe" 
        [recipe]="recipe" 
        *ngFor="let recipe of recipes">
      </app-recipe-block>
    </div>
    <mat-paginator [length]="this.totalElements"
                  [pageSize]="this.pageSize"
                  hidePageSize=true
                  (page)="OnPageChange($event)">
    </mat-paginator>
  </section>

</main>
