main {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 70%;
  overflow: hidden;
}

.user-section,
.recipes-section {
  margin-top: 4em;
}

/* ======== USER SECTION ==========*/

.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 300px;
  min-width: 300px;
  height: 650px;
  background: #FFFFFF;
  box-shadow: 10px 10px 50px #00000029;
  border-radius: 10px;
  transition: .2s;
}

.user-section:hover {
  box-shadow: 10px 10px 90px #00000045;
}

.user-img {
  margin-top: 1em;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.description {
  width: 80%;
  font-size: 1em;
  color: #707070;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.badge {
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: 80%;
  background: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
  opacity: 1;
}

.badge .far {
  width: 1em;
  margin-left: .5em;
  font-size: 1.6em;
  color: #419A1C;
  transition: .4s;
}

.badge:hover>.far {
  color: #CF1717;
}

.badge-text {
  margin-left: 1.5em;
  font-size: .9em;
}

.badge-header {
  font-weight: 700;
  margin-bottom: 0;
}

.badge-value {
  margin-top: .1em;
  font-size: .9em;
}

/* ======== RECIPES SECTION ==========*/

.recipes-section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  width: 60%;
  max-width: 850px;
}

.recipes-header {
  margin: 0;
}

.recipe {
  width: 220px;
  min-height: 200px;
}

/* ======== MEDIA QUERIES ==========*/

@media only screen and (max-width: 1700px) {

  main {
    width: 80%;
  }
}

@media only screen and (max-width: 1400px) {

  main {
    width: 90%;
  }
}

@media only screen and (max-width: 1250px) {

  .recipes-section {
    width: 40%;
  }
}

@media only screen and (max-width: 950px) {

  main {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100vw;
  }

  /* User section */
  .user-section {
    margin-top: 0;
    width: 100vw;
    background-color: transparent;
    box-shadow: none;
  }

  .user-img {
    width: 150px;
    height: 150px;
  }

  .badges {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .badge {
    width: 30%;
  }

  /* Recipes section */
  .recipes-section {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {

  /* User section */
  .badges {
    flex-direction: column;
    margin-bottom: 3em;
  }

  .badge {
    width: 60%;
  }

  /* Recipes section */
  .recipe {
    margin: 1em .2em;
  }
}

@media only screen and (max-width: 450px) {

  /* User section */
  .badge {
    width: 80%;
  }

  /* Recipes section */
  .recipes-section {
    margin-top: 1em;
    width: 80%;
  }

  .recipe {
    margin-bottom: 2em;
    width: 300px;
  }

  .recipe-img {
    height: 180px;
  }
}
