.recipe-container {
  font-size: .9em;
  width: 100%;
  height: 100%;
}

.recipe-img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-description {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-top: none;
  font-weight: 700;
  transition: .1s;
}

.recipe-container:hover .recipe-description {
  background-color: #eaeaea;
}

.recipe-title {
  margin: 10px 5px 15px 5px;
  height: 2em;
  text-align: center;
}

.rate {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.rate-value {
  margin-top: 5px;
}

.recipe-time {
  margin: 10px;
}

@media only screen and (max-width: 320px) {

  .recipe-container {
    margin: 1.5em 0;
    width: 100%;
  }

  .recipe-img {
    height: 65vw;
  }

  .recipe-description {
    height: 105px;
    background-color: #efefef;
  }

  .recipe-title {
    margin-top: 3px;
    margin-bottom: 15px;
  }
}
