<main>
    <em [mat-dialog-close] class="dialog-close-btn fas fa-times"></em>
    <h2>Password Edit</h2>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="inputs">


            <p class="input-header">Password</p>
            <input type="password" class="text-input" formControlName="password">
            <small *ngIf="password.dirty && password.invalid" class="error-msg">Password is too short.</small>

            <p class="input-header">Confirm password</p>
            <input type="password" class="text-input" formControlName="confirmPassword">
            <small *ngIf="confirmPassword.dirty" class="error-msg">Password is too short.</small>
        </div>

        <div class="buttons">
            <button class="submit-btn" type="submit">Submit</button>
        </div>
    </form>
</main>
