main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section {
  width: 60%;
}

/* ======== CENTRAL SECTION ==========*/

.header-section {
  display: flex;
  justify-content: center;
}

.central-section {
  display: flex;
}

.recipe-img {
  min-width: 500px;
  width: 500px;
  height: 320px;
}

.ingredients {
  margin-left: 4em;
}

.ingredients-header {
  margin-top: 0;
}

.ingredients p {
  margin: .25em;
}

.ingredient-component {
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.ingredient-component:hover {
  color: #e20c0c;
}

/* ======== TAGS SECTION ==========*/

.tag-btn {
  padding: .5em .7em;
  margin: 0.2em;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background: #419A1C;
  cursor: pointer;
}

.tag-btn:hover {
  background: #245310;
}

/* ======== INFO SECTION ==========*/

.info-section {
  display: flex;
  margin: 1em 0;
  font-weight: bold;
}

.red-btn,
.delete-btn {
  height: 2.4em;
  padding: 0 .7em;
  margin: auto 5% auto 0;
  border: 1px solid #000000;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background: #CF1717;
  cursor: pointer;
}

.delete-btn {
  margin-left: 20px;
}

.rate {
  margin-right: 5%;
}

.recipe-time {
  display: flex;
}

.owner-username {
  margin-top: 0;
  margin-bottom: 1.2em;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

.owner-username:hover {
  color: brown;
}

.iconify {
  margin: 0 .5em 0 0;
}

/* ======== DIRECTIONS SECTION ==========*/

.step-header {
  margin-bottom: .1em;
  font-size: 1.1em;
  font-weight: 700;
}

.step-description {
  margin-top: 0;
}

/* ======== REVIEWS SECTION ==========*/

.reviews-section {
  margin-top: 1em;
  margin-bottom: 5em;
}

.reviews {
  overflow-y: auto;
  margin-bottom: .5em;
  padding: 2em;
  height: 250px;
  background-color: #ececec;
}

.review-details {
  display: flex;
}

.profile-img {
  margin: auto 0 auto 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.username {
  margin: auto 1em auto .5em;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
}

.username:hover {
  color: brown;
}

.review-date {
  margin: auto 0;
  font-weight: 500;
}

.review {
  margin: 0 0 2em 5em
}

.comment-container {
  display: flex;
  margin-bottom: 5em;
  align-items: flex-end;
}

.comment-input {
  overflow: auto;
  height: 30px;
  width: 90%;
}

.error-msg {
  margin: 0;
  color: red;
  font-size: .9em;
}

.remove-btn {
  margin-left: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: brown;
  cursor: pointer;
}

/* ======== MEDIA QUERIES ==========*/

@media only screen and (max-width: 1600px) {

  .ingredients {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 1400px) {
  section {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {

  section {
    width: 75%;
  }

  .recipe-img {
    min-width: 450px;
    height: 288px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ingredients p {
    margin: .1em;
  }
}

@media only screen and (max-width: 1200px) {

  main {
    font-size: .95em;
  }
}

@media only screen and (max-width: 1000px) {

  .central-section {
    flex-direction: column;
  }

  .recipe-img {
    margin: 0 auto 1.5em auto;
    max-width: 450px;
    height: 288px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


@media only screen and (max-width: 700px) {
  section {
    width: 85%;
  }
}

@media only screen and (max-width: 550px) {
  section {
    width: 90%;
  }

  .recipe-img {
    min-width: 90vw;
    height: 58vw;
  }

  .info-section {
    flex-direction: column;
    align-items: center;
  }

  .red-btn {
    margin-right: 0;
  }

  .rate {
    margin-right: 0;
    margin-bottom: 0;
  }
}
