<main>

  <section class="header-section">
    <h1>{{recipe.title}}</h1>
    <div *ngIf="recipe.username == authService.getAuthenticatedUsername() || authService.isAdmin()"
         class="action-buttons">
      <button (click)="editRecipe()" class="green-btn">Edit</button>
      <button (click)="deleteRecipe()" class="red-btn">Delete</button>
    </div>
  </section>

  <p class="owner-username" routerLink="/user/{{recipe.username}}">{{recipe.username}}</p>

  <section class="central-section">
      <img class="recipe-img" src="{{recipe.img}}" alt="img of recipe" onerror="this.src='/assets/img/on-error.jpg'">

      <div class="ingredients">
        <h3 class="ingredients-header">Ingredients: </h3>
        <ng-container *ngFor="let ingredient of ingredients$ | async">
          <p><span class="ingredient-component" routerLink="/recipes/byComponent/{{ingredient.componentName}}">
            {{ingredient.componentName | align : 30 : '-'}} </span>{{ingredient.amount}} {{ingredient.amountType}}
          </p>
        </ng-container>
      </div>

  </section>

  <section class="info-section">

    <button class="red-btn">Send recipe to email <em class="fas fa-chevron-right"></em></button>

    <p class="rate">
      <star-rating (rate)="onRateChange($event)" [totalstars]="5" checkedcolor="green" readonly="false" size="24px"
                   uncheckedcolor="black" value="{{recipe.avgRate | number: '1.0-0' }}"></star-rating>
      <span class="rate-value"> {{recipe.avgRate | number: '1.2-2' }}/5.00</span>
    </p>

    <p class="recipe-time"><span class="iconify" data-icon="bi:clock" data-inline="false"> </span> < {{timeTypeEnum[recipe.timeType]}} min.</p>
  </section>

  <section class="directions-section">
    <h2>Directions: </h2>

    <div *ngFor="let direction of directions$ | async" class="step">
      <p class="step-header">Step {{direction.order}}</p>
      <p class="step-description">{{direction.description}}</p>
    </div>

  </section>

  <section class="reviews-section">
    <h2>Reviews: </h2>

    <div class="reviews">
      <ng-container *ngFor="let comment of comments$ | async">
        <div class="review-details">
          <img alt="user avatar" class="profile-img" onerror="this.src='/assets/img/on-error.jpg'"
               src="{{comment.userImg}}">
          <p class="username" routerLink="/user/{{comment.username}}">{{comment.username}}</p>
          <p class="review-date">{{comment.dateCreated | date:"dd.MM.yyyy - HH:mm"}}</p>
          <em (click)="deleteComment(comment.id)"
              *ngIf="authService.isAdmin() || comment.username == authService.getAuthenticatedUsername()"
              class="remove-btn fas fa-times"></em>
        </div>
        <p class="review">{{comment.body}}</p>
      </ng-container>
    </div>

    <p *ngIf="newComment.touched && newComment.errors?.required || newComment.errors?.minlength" class="error-msg">
      Comment minimum length is 5 characters.</p>
    <p *ngIf="newComment.errors?.maxlength && newComment.touched" class="error-msg"> Comment maxiumum length is 200
      characters.</p>
    <form class="comment-container">
      <input [formControl]="newComment" class="comment-input" placeholder="Add comment..">
      <button (click)="onCommentSend()" class="tag-btn">Send <em class="fas fa-paper-plane"></em></button>
    </form>


  </section>
</main>
