<div class="recipe-container">
    <img class="recipe-img" src="./assets/img/recipes/spaghetti.jpg" alt="img of recipe">

    <div class="recipe-description">
      <p class="recipe-title">{{recipe.title}}</p>
      <p class="rate">
        <em class="fas fa-star"></em>
        <em class="fas fa-star"></em>
        <em class="fas fa-star"></em>
        <em class="fas fa-star"></em>
        <em class="fas fa-star-half-alt"></em>
        <span> {{recipe.avgRate | number: '1.2' }}/5.00</span>
      </p>

      <p class="recipe-time"><span class="iconify" data-icon="bi:clock" data-inline="false"></span> < 60 min.</p>
    </div>
  </div>