/* ========== LAYOUTS ===========*/

main {
  display: grid;
  grid-template-columns: 62% auto;
}

.img-container {
  display: flex;
  flex-grow: 1;
}

.welcome-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 320px;
  width: 60%;
  border-radius: 35px;
  background: #FBFBFB;
  box-shadow: 7px 10px 10px #00000029;
}

.header-container {
  margin-top: 15px;
}

/* ========== COMPONENTS ===========*/

/* Text */

h1 {
  margin: 0;
}

span {
  padding-bottom: 3px;
  color: #419A1C;
  border-bottom: 1px solid currentColor;
}

.welcome-paragraph {
  margin-top: 0;
  font-weight: 700;
}

/* Buttons */

.btn-black-fill, .btn-green {
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: color .6s, background-color .4s;
}

.btn-black-fill {
  margin-right: 15px;
  padding: 12px 15px;
  border: none;
  color: white;
  background-color: #2D2D2D;
}

.btn-green {
  padding: 12px 25px;
  border: 1px solid #419A1C;
  color: #419A1C;
  background-color: white;
}

.btn-green:hover {
  color: white;
  background-color: #2d6215;
}

.btn-black-fill:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
