<main>

  <div class="img-container">
    <img class="welcome-img" src="./assets/img/welcome-img.jpg" alt="olive, tomato and basil image">
  </div>

  <div class="login-container">
    <div class="login-window">

      <div class="header-container">
        <h1>Create your own </h1>
        <h1><span>Recipe</span> book</h1>
      </div>

      <p class="welcome-paragraph">
        Search for perfect meal!<br>
        Share your ideas with other people<br>
        and comment their concepts!
      </p>

      <div class="buttons">
        <button class="btn-black-fill" (click)="openRegisterDialog()">Register now</button>
        <button class="btn-green" (click)="openLoginDialog()">Login</button>
      </div>

    </div>
  </div>

</main>
