/* ========== LAYOUTS ===========*/

main {
  display: grid;
  grid-template-columns: 62% auto;
}

.img-container {
  display: flex;
  flex-grow: 1;
}

.welcome-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 320px;
  width: 445px;
  border-radius: 35px;
  background: #FBFBFB;
  box-shadow: 7px 10px 10px #00000029;
}

.header-container {
  margin-top: 15px;
}

/* ========== COMPONENTS ===========*/

/* Text */

h1 {
  margin: 0;
}

span {
  padding-bottom: 3px;
  color: #419A1C;
  border-bottom: 1px solid currentColor;
}

.welcome-paragraph {
  margin-top: 0;
  font-weight: 700;
}

/* Buttons */

.btn-black-fill, .btn-green {
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: color .6s, background-color .4s;
}

.btn-black-fill {
  margin-right: 15px;
  padding: 12px 15px;
  border: none;
  color: white;
  background-color: #2D2D2D;
}

.btn-green {
  padding: 12px 25px;
  border: 1px solid #419A1C;
  color: #419A1C;
  background-color: white;
}

.btn-green:hover {
  color: white;
  background-color: #2d6215;
}

.btn-black-fill:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* ========== MEDIA QUERIES ===========*/

@media only screen and (max-width: 1500px) {

  .login-window {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {

  main {
    grid-template-columns: 50% auto;
  }
}

@media only screen and (max-width: 1100px) {

  main {
    font-size: 1.1em;
  }

  .login-window {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {

  main {
    grid-template-columns: 1fr;
  }

  .img-container {
    display: none;
  }

  .login-window {
    width: 60%;
    height: 400px;
  }
}

@media only screen and (max-width: 550px) {

  .login-container {
    background-color: white;
  }

  .login-window {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background: white;
    box-shadow: none;
  }

  .welcome-paragraph {
    margin-top: 2em;
  }

  .buttons {
    display: flex;
    flex-direction: column-reverse;
    margin: auto 0 15px 0;
    width: 50%;
  }

  .btn-green,
  .btn-black-fill {
    margin-top: 10px;
    width: 100%;
  }
}
